
<div class="row-fluid">
	<div class="span3">
		<img data-src="rails.png">
	</div>
	<div class="span9 pull-right">
		<h1>
			Who am I?
		</h1>
		<p> 
			Hi! My name's Kevin and this is my first foray into coding. I've several years experience working as a tech consultant with non-profits and I've always been dazzled by all the cool things I saw developers do. So now I've decided it's about high time I try this out myself!</p>
		<br>
		<br>
		<h1>
			What am I doing?
		</h1>
		<p>
			Great question. For this project I'm working on building an app that will help people manage task, but do it in a fun way. A lot of people I know seem crazy busy with all these different projects they're trying to juggle. What if there was a way to juggle better? And then we can make it fun to boot!</p>
		<br>
		<br>
		<h1>
			How am I doing this?
		</h1>
		<p>
			I'm building this app using Ruby on Rails. I'm taking Mattan Griffel's "One Month Rails" course. If you're interested in checking it out: 
			<%=link_to "One Month Rails", "http://onemonthrails.com"%>
		</p>
	</div>
</div>

<!--<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
</p>

</div> -->